.menu-list {
  width: 244px;


  .menu-item {
    margin-left: 0;
  }
}
.menu-popper {
  padding-bottom: 8px;
}

//menu_item
.menu-item {
  width: 100%;
  padding: 11px 16px;
  justify-content: flex-start;
  font-weight: 500;
  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }


}

